<div class = "devise-box">
  <h3>新規登録</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.email_field :email,placeholder:"メールアドレス", autofocus: true, autocomplete: "email",class: "devise-write" %>
    </div>
  
    <div class="field">
      <% if @minimum_password_length %>
      <em><%= @minimum_password %></em>
      <% end %><br />
      <%= f.password_field :password,placeholder: "パスワード(6文字以上)", autocomplete: "new-password",class: "devise-write" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation,placeholder:"パスワードを確認", autocomplete: "new-password",class: "devise-write" %>
    </div>
  
    <div class="actions">
      <%= f.submit "登録", class:"devise-btn" %>
    </div>
  <% end %>
  
  
  
  
  <%= render "devise/shared/links" %>
</div>