<div class = "grid-top">
 <!--grid-topp-------------------------------------------->
    <div class = "topp">
       <div class = "user-search">
           <%= form_tag(root_path,:method => 'get') do %>
               <%= text_field_tag :search, "", placeholder: "ユーザー検索"%>
               <%= button_tag type: 'submit' ,:name => nil do %>
                <i class="fas fa-search"></i>
               <% end %>
           <% end %>
           <ul>
           <% @posts.each do |post| %>
             <li>
                <a href="/users/<%= post.id %>">
                 <%= post.nickname  %>
               </a>  
             </li>
           <% end %>
           </ul>
       </div>    
    </div>
 <!--grid-topp/END----------------------------------------  -->
 <!--grid-bottomm-------------------------------------------->
  <div class = "bottomm">
      <% @tweets.each do |t| %>
       <div class = "tweet-item foo">
        <!--tweet-header------------------->
        <div class = "tweet-header">
          <a href="/users/<%= t.user_id %>">
           <div class = "user-name">
            <%= t.user.nickname %>
           </div>  
          </a>  
          <!--nav--------------->
         <div class="more">
           <ul class="more_list">
               <li>
                <%= link_to "/tweets/#{t.id}", method: :get do %>
                  <i class="fas fa-angle-double-right"></i>
                <% end %>
                
               </li>
              <% if user_signed_in? && current_user.id == t.user_id %>
                <li>
                 <%= link_to  "/tweets/#{t.id}", method: :delete do %>
                   <i class="fas fa-trash-alt"></i>
                 <% end %>
                </li>
              <% end %>
           </ul>
         </div>
           <!--nav/END----------->
        </div>
        <!--tweet-header/END--------------->
        <!--image&text-box----------------->
          <div class ="image-box">
            <a href = "/tweets/<%= t.id %>">
                <image src = "<%= t.image %> "width= "300" height="300"></image>
            </a>  
          </div>
         <div class = "text-box">
            <p><%=t.text %></p>
          </div>
         </div>    
        <!--image&text-box/END----------------->
      <% end %>  
      <!--jquery.jscroll---------------------->
       <%= link_to_prev_page @tweets, '前のページ', class: "prev" %>
       <%= link_to_next_page @tweets, '次のページ', class: "next" %>
   </div>
   <!--grid-bottomm/END----------------------------------------->
</div>  