 <article>
    
      <header>
            <div class="buttons_<%= @tweet.id %>"><%= render partial: 'likes/like' %></div>

         <a href="/users/<%= @tweet.user_id %>">
           
          <div class = "user-name">
            <%= @tweet.user.nickname %>
          </div>  
         </a>  
          <% if user_signed_in? && current_user.id == @tweet.user_id %>
              <div class="more">
                <ul class="more_list">
                  <li>
                    <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
                  </li>
                </ul>
              </div>
          <% end %>
      </header>
      <div class ="image-box">
           <image src = "<%= @tweet.image %> "width= "600" height="600"></image>
      </div>
  
      <div class = "good-box">
        <span>
          <btn>
            <svg>
              ！
            </svg>
          </btn>
        </span>
      </div>    
      <div class = "comment-box">
        <span>
          <btn>
            <svg>
              C
            </svg>
          </btn>
        </span>
      </div>    

  <div class="container"> 

      <% if current_user %>
      <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
      
  </div>  
  
  <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
    
  </article>