<div class = "box">
   <%= form_for current_user do |f| %>
         <h2>プロフィー画像</h2>
          <div class="form-group file">
            <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>
          </div>
          
        <div class="field">
            <%= f.label :nickname, "Nickname" %> <br/>
            <%= f.text_field :nickname, placeholder: "１２文字まで", autofocus: true, maxlength: "12", class: "text" %>
        </div>
        
        <div class="form-group">
            <%= f.submit "送信", class: "send-btn" %>
          </div>
   <% end %>   
</div>  