<div class = "grid">
     <div class = "top">
         <% if @user.image.attached? %>
         <%= image_tag @user.image,size: '250x250', class: "user-img" %>
         <% else %>
         <%= image_tag 'dog.jpeg',size: '250x250', class: "user-img"%>
         <% end %>
     </div> 
     <div class = "grid-center">
       <div class = "user-infomation">
            <%= @nickname %>
          <% if user_signed_in? && @user.id == current_user.id %>  
              <%= link_to "編集", edit_user_path(current_user) %>
          <% end %>
        </div>
        <div class = "following">
           <% if user_signed_in? %>  
            <% unless @user == current_user %>
               <% if current_user.following?(@user) %>
                   <%= link_to 'フォロー中', unfollow_path(@user.id), method: :POST %>
               <%else %>
                   <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
               <% end %>
            <% end %>
           <% end %>
        </div> 
         
          
        <div class = "following-box">
          
          <p><%= link_to "#{@user.follower.count}フォロー",follow_user_path(@user.id) %></p>
          <p><%= link_to "#{@user.followed.count}フォロワー",follower_user_path(@user.id) %></p>
        </div>  
     </div>
 
     <div class = "bottom">
       <h3>フォロワー一覧</h3>
            <% @user.follower_user.each do |user| %>
                <td><%= user.nickname %> </td>
                <td><%= link_to '詳細', user_path(user) %></td>
          <% end %>
      </div>  
</div>

