<div class = "grid">
     <div class = "top">
         <% if @user.image.attached? %>
         <%= image_tag @user.image,size: '250x250', class: "user-img" %>
         <% else %>
         <%= image_tag 'dog.jpeg',size: '250x250', class: "user-img"%>
         <% end %>
     </div> 
     <div class = "grid-center">
       <div class = "user-infomation">
            <%= @nickname %>
          <% if user_signed_in? && @user.id == current_user.id %>  
              <%= link_to edit_user_path(current_user)  do %>
                 <i class="far fa-edit"></i>               
              <% end %>
          <% end %>
        </div>
        <div class = "following">
           <% if user_signed_in? %>  
            <% unless @user == current_user %>
               <% if current_user.following?(@user) %>
                   <%= link_to 'フォロー中', unfollow_path(@user.id), method: :POST %>
               <%else %>
                   <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
               <% end %>
            <% end %>
           <% end %>
        </div> 
         
          
        <div class = "following-box">
          
          <p><%= link_to "#{@user.follower.count}フォロー",follow_user_path(@user.id) %></p>
          <p><%= link_to "#{@user.followed.count}フォロワー",follower_user_path(@user.id) %></p>
        </div>  
     </div>
 
     <div class = "bottom">
       <div class = "post-box">
         <%=link_to "投稿一覧",user_path(@user.id) %>
         <%=link_to "いいねした投稿",like_user_path(@user.id), :style=>"color:#696969;" %>
       </div>   
        <% @tweets.each do |tweet| %>
              <div class = "user-tweet-image">
                <image src = "<%= tweet.image %> "width= "300" height="300"></image>
              </div>
        <% end %>
      </div>  
</div>


             
             
             