<!DOCTYPE html>
<html>
  
  <head>
      <title>Mypet</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
　　　<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>
  
  <body>
      　<header class = "site-header">
         　<h1><%= link_to"MyPet", root_path, class: "font-black" %></h1>
               <nav>
                 <ul class = "navi">
                   <% if user_signed_in? %>  
                         <li><%= link_to  destroy_user_session_path, method: :delete do %>
                               <i class="fas fa-door-open"></i>
                             <% end %>
                         </li>
                         <li><%= link_to new_tweet_path do %>
                                <i class="fas fa-pencil-alt"></i>
                             <% end %>  
                         </li>
                      　 <li><%= link_to  user_path(current_user) do %>
                               <i class="fas fa-home"></i>
                             <% end %>
                         </li>     
                   <% else %>       
                         <li><%= link_to "会員登録",  new_user_registration_path %></li>
                         <li><%= link_to "ログイン",  new_user_session_path %></li>
                   <% end %>          
                 </ul>
               </nav>  
               
               <!--スマホナビゲーションーーーーー-->
<script>
$(function() {
    $('#navToggle').click(function(){//headerに .openNav を付加・削除
        $('header').toggleClass('openNav');
    });
    $('.g_nav .overlay').click(function(){//headerから .openNav を・削除
        $('header').removeClass('openNav');
    });
});
</script>
　<header class="site_header">
	<div class="h_inner cf">
		
		<div id="navToggle">
			<div>
				<span></span> <span></span> <span></span> <span>MENU</span>
			</div>
		</div>
		<nav class="g_nav">
			<div class="inner">
				<p class="sp_logo">
					<a href="/">mypet</a>
				</p>
				<ul>
					<% if user_signed_in? %>  
                         <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                         <li><%= link_to "投稿",  new_tweet_path %></li>
                         <li><%= link_to "アカウント" user_path(current_user)%></li>
                   <% else %>       
                         <li><%= link_to "新規登録",  new_user_registration_path %></li>
                         <li><%= link_to "ログイン",  new_user_session_path %></li>
                   <% end %>  
				</ul>
			</div>
			<div class="overlay"></div>
		</nav>
　</div>
	<!--ーーーーーーーーーーーーーーーーーーーーーーーーーー-->
</header>
        </header>     
    <div class = "container">
         <main class =" main">
           <%= yield %>
         </main>
    </div>
  </body>
</html>